<%= form_for(@person) do |f| %>
<div id="form">
      <% if @person.errors.any? %>
      <ul style="list-style:none">
        <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       <% end %>
     </ul>

    <% end %>
  <section>
    <ul>
      <li><%= f.text_field :full_name, label: "full_name", placeholder: "Please enter a full name" %></li>
      <li>
    <%= f.text_field :survived_by, label: "survived_by", placeholder: "Survived by" %>
      </li>

      <li>
    <%= f.text_field :dob, label: "dob", placeholder: "Date of Birth"  %><br />
      </li>

      <li>
    <%= f.text_field :dod, label: "dod", placeholder: "Date of Passing" %>
      </li>

      <li>
    <%= f.text_area :eulogy, label: "eulogy", placeholder: "Write a Eulogy" %>
      </li>

      <li>
    <%= f.text_field :photo_url, label: "photo_url", placeholder: "Upload an image" %>
      </li>

      <li>
    <%= f.text_field :charity, label: "charity", placeholder: "Associated Charities & Organizations" %>
      </li>

      <li>
    <%= f.submit  %>
      </li>
    </ul>
  </section>
</div>
<% end %>
