<h1><%= @person.full_name%></h1>

<p>
  <b>Dob:</b>
  <%= @person.dob %>
</p>
<!-- .strftime("~%D~") -->
<p>
  <b>Dod:</b>
  <%= @person.dod %>
</p>

<p>
  <b>Eulogy:</b>
  <%= @person.eulogy %>
</p>

<p>
  <b>Quote</b>
  <%= @person.quote%>
</p>

<p>
  <b>Charity:</b>
  <%= @person.charity %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @person.photo_url %>
</p>



</div>
</body>
