<div style="background:lightblue;"
<h1><%= @person.full_name%></h1>

<p>
  <b>Full Name:</b>
  <%= @person.full_name %>
</p>
<p>
  <b>Dob:</b>
  <%= @person.dob.strftime("~%D~") %>
</p>

<p>
  <b>Dod:</b>
  <%= @person.dod.strftime("~%D~") %>
</p>

<p>
  <b>Eulogy:</b>
  <%= @person.eulogy %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @person.photo_url %>
</p>

<p>
  <b>Charity:</b>
  <%= @person.charity %>
</p>


</div>
