<h1>New Trait</h1>


<%= form_for @trait do |f| %>
<%= f.label :person_id %>
<%= f.collection_select :person_id, Person.all, :id, :full_name %><br>

<%= f.label :trait_type_id %>
<%= f.collection_select :trait_type_id, TraitType.all, :id, :name %>

<%= f.submit %>

<% end %>



