<!-- Edit this later, this is solely to display it on the screen -->
<style>
  div#display {

    position: relative;
    top: 200px;
    left: 350px;
  }
</style>


<div id="display">
<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>
  <b>First name:</b>
  <%= @user.full_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Photo:</b>
  <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=large" %>
</p>
</div>
<!-- Not needed right now, needed for FB connect -->

<!-- <p>
  <b>Uid:</b>
  <#%= @user.uid %>
</p>

<p>
  <b>Access token:</b>
  <#%= @user.access_token %>
</p>

<p>
  <b>Provider:</b>
  <#%= @user.provider %>
</p>
 -->

